:host {
  display: block;
  margin-top: 2rem;
}

mat-expansion-panel {
  margin: 1rem 0;
}

.info-text {
  font-weight: bold;
  text-align: center;
}

.editBtn {
  background: blue;
  font-weight: bold;
  color: white;
  padding: 4px 8px;
  border: none;
  outline: none;
}
.delBtn {
  background: red;
  font-weight: bold;
  color: white;
  padding: 4px 8px;
  border: none;
  outline: none;
  margin-left: 2rem;
}
